.counter {
    background: #10002800;
    /* height: 600px; */
    padding-top: 300px;
    overflow: visible;

    transform: scale(.8);
}

.counter__content {
    padding: 0px 50px;
}

.counter__item {
    background: #1a083d;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 235px;
    width: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    transition-duration: .5s;
    overflow-wrap: break-word !important;

}

.counter__item:hover {
    scale: 1.1;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.318);

}


.counter__item.second__item {
    margin-top: -185px;
}

.counter__item.second__item:before {
    left: -316px;
    bottom: -65px;
    /* border-right: 1px solid #333333; */
    /* border-bottom: 1px solid #333333; */
    border-left: none;
    border-top: none;
}

.counter__item.four__item {
    margin-top: -185px;
}

.counter__item.four__item:before {
    left: -380px;
    bottom: -380px;
    /* border-right: 1px solid #333333; */
    /* border-bottom: 1px solid #333333; */
    border-left: none;
    border-top: none;
}

.counter__item.third__item:before {
    left: -65px;
    bottom: -317px;
}

.counter__item__text {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow-wrap: break-word !important;
}

.counter__item__text h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 18px;
}

.counter__item__text p {
    color: #ffffff;
    margin-bottom: 0;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.counter__item__text .icon {
    color: var(--col-3);
}