<img class="img-center"
    src="https://readme-typing-svg.demolab.com?font=Alexandria&weight=900&size=70&pause=500&color=00B685&center=true&vCenter=true&multiline=true&repeat=false&width=1500&height=200&lines=<%=__('typed text').split(' ').join('+')%>+;%24%7B%F0%9F%A4%96%7D"
    alt="Typing SVG" />

<div class="container">
    <div class="row">
        <div class="col-lx-12">
            <div class="card bg-transparent text-light">
                <div class="card-body">
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-5 col-lg-8">
                            <div class="text-center">
                                <h3>Frequently Asked Questions?</h3>
                                <p class="text-muted">If several languages coalesce, the grammar of the resulting
                                    language
                                    is more simple and regular than that of the individual</p>
                                <div>
                                    <button type="button" class="btn btn-primary me-2"
                                        >
                                    <%= __('no account')%>
                                    </button>
                                    <button type="button" class="btn btn-success">
                                        <%= __('login')%>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="justify-content-center mt-5">
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div>
                                <div class="row g-4 mt-2">
                                    <div class="col-lg-6">
                                        <h5>What is Lorem Ipsum ?</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the
                                            resulting language is more simple
                                            and regular than that of the individual languages. The new common
                                            language will be more simple and
                                            regular than the existing</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Why do we use it ?</h5>
                                        <p class="text-muted">Their separate existence is a myth. For science,
                                            music, sport, etc,
                                            Europe uses the same vocabulary.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Where does it come from ?</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the
                                            resulting language is more simple
                                            and regular than that of the individual languages. The new common
                                            language will be more simple and
                                            regular than the existing
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Where can I get some?</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the
                                            resulting language is more
                                            simple and regular than that of the individual languages. </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>
